.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.header-color {
  background-color: #aaabd3;
}

.icon-color {
  color: #353866;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3%;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3%;
}

.header-left > span {
  font-weight: 800;
  font-size: 18px;
}

/* 왼쪽에 margin이 필요할 때 사용합니다. */
.margin-left {
  margin-left: 20px;
}
