.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3%;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3%;
}

.header-text {
  margin-right: 20px;
}

.header-icon {
  margin-left: 20px;
}
