.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-color {
  background-color: #aaabd3;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3%;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3%;
}

.header-icon {
  margin-left: 20px;
}

.margin-left {
  margin-left: 20px;
}
