.nav {
  position: absolute;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #aaabd3;
}

.nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - calc(2 * 8) px);
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav > div > a > i {
  color: #353866;
}

.nav > div > a:nth-child(2) {
  position: relative;
}

.nav > div > a:nth-child(2) > span {
  position: absolute;
  top: -2px;
  right: -3px;
  color: white;
  font-size: 10px;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: tomato;
}
